<div class="form-section">
  <form>
    <div class="form-group">
      <input
        class="form-control form-control-lg is-invalid"
        id="validationTextarea"
        type="text"
        placeholder="Enter Asset Name"
      />
    </div>
    <div class="form-group">
      <textarea
        class="form-control form-control-lg"
        type="text"
        placeholder="Enter asset description"
      /></textarea>
    </div>
    <div class="form-group">
      <input
        class="form-control form-control-lg"
        type="text"
        placeholder="Enter asset location..."
      />
    </div>
    <select class="form-control form-control-lg">
      <option>Select Asset Type</option>
    </select>
    <div class="form-group">
      <label for="dates">Date Acquired</label>
      <input
        class="form-control form-control-lg"
        type="date"
        id="date"
        placeholder="Enter date acquired"
      />
    </div>
    </div>
  </form>
</div>
