{% import 'macros.html' as macro%}{% extends "base_dash.html" %}
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <link
    rel="stylesheet"
    href="{{url_for('static',filename='css/styles.css')}}"
  />
  <body>
    {% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-2 text-gray-800">List of Assets Tables</h1>

      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Available Assets</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Asset Name</th>
                  <th>Asset Description</th>
                  <th>Location</th>
                  <th>Asset Type</th>
                  <th>Date Acquired</th>
                  <th>Asset Value</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  {{macro.displayAssets(financialAssets)}}
                </tr>
                <tr>
                  {{macro.displayAssets(fixedAssets)}}
                </tr>
                <tr>
                  {{macro.displayAssets(currentAssets)}}
                </tr>
                <tr>
                  {{macro.display(currentAssets)}}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
