<section class="features py-4">
  <div class="container">
    <h2 class="text-center my-3 fs-1 feature-heading">Features</h2>
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
      <div class="col-md-6">
        <div class="feature-card">
          <img
            src="{{url_for('static', filename='images/feature1.png')}}"
            alt=""
            class="feature-img"
          />
          <div class="feature-body">
            <h3 class="feature-title">Power in your hand</h3>
            <p class="lead">
              Gain control over your assets and know your worth
            </p>
          </div>
        </div>
        <div class="feature-card">
          <img
            src="{{url_for('static', filename='images/feature2.png')}}"
            alt=""
            class="feature-img"
          />
          <div class="feature-body">
            <h3 class="feature-title">Save Time</h3>
            <p class="lead">
              Get to know all that you own just by the click of a button
            </p>
          </div>
        </div>
        <div class="feature-card">
          <img
            src="{{url_for('static', filename='images/feature3.png')}}"
            alt=""
            class="feature-img"
          />
          <div class="feature-body">
            <h3 class="feature-title">Real Time Reports</h3>
            <p class="lead">Get real-time valuation reports of your assets</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
