<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
  </head>
  <body>
    {% import 'bootstrap/wtf.html' as wtf %} {% extends 'bootstrap/base.html' %}
    {% block content %}{% block styles%} {{ super() }} {% endblock %}
    <div class="container mx-auto bg-white rounded mt-5">
      <div class="text-center">
        <img
          class="mx-auto"
          src="{{url_for('static', filename='images/logo/logo-dark.png')}}"
          alt=""
        />
        <h4>Add Asset</h4>
      </div>
      <div class="my-5 mx-auto" style="max-width: 800px">
        {{wtf.quick_form(form)}}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
